<footer id="site-footer" class="main-footer position-relative overflow-hidden transition-all bg-slate-100">
    <div class="w-100 position-absolute z-0 -bottom-70percent ltr-left-0 module-lottie rotate-180 sm:hidden">
        <div id="lqd-lottie-footer" class="lqd-lottie h-full"><svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1674 778" width="1674" height="778" class="lqd-lottie" preserveAspectRatio="xMidYMid meet"
                style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                <defs>
                    <clipPath id="__lottie_element_3">
                        <rect width="1674" height="778" x="0" y="0"></rect>
                    </clipPath>
                    <filter id="__lottie_element_6" x="-100%" y="-100%" width="300%" height="300%">
                        <feGaussianBlur result="filter_result_0" stdDeviation="45 45" edgeMode="duplicate">
                        </feGaussianBlur>
                    </filter>
                    <filter id="__lottie_element_9" x="-100%" y="-100%" width="300%" height="300%">
                        <feGaussianBlur result="filter_result_0" stdDeviation="45 45" edgeMode="duplicate">
                        </feGaussianBlur>
                    </filter>
                    <filter id="__lottie_element_12" x="-100%" y="-100%" width="300%" height="300%">
                        <feGaussianBlur result="filter_result_0" stdDeviation="45 45" edgeMode="duplicate">
                        </feGaussianBlur>
                    </filter>
                    <filter id="__lottie_element_15" x="-100%" y="-100%" width="300%" height="300%">
                        <feGaussianBlur result="filter_result_0" stdDeviation="45 45" edgeMode="duplicate">
                        </feGaussianBlur>
                    </filter>
                </defs>
                <g clip-path="url(#__lottie_element_3)">
                    <g filter="url(#__lottie_element_15)"
                        transform="matrix(0.8299246430397034,0.5578754544258118,-0.5578754544258118,0.8299246430397034,605.8026733398438,-679.7526245117188)"
                        opacity="1" style="display: block;">
                        <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                            <path fill="rgb(247,212,129)" fill-opacity="1"
                                d=" M831,415.5 C831,644.9739990234375 644.9739990234375,831 415.5,831 C186.0260009765625,831 0,644.9739990234375 0,415.5 C0,186.0260009765625 186.0260009765625,0 415.5,0 C644.9739990234375,0 831,186.0260009765625 831,415.5z">
                            </path>
                        </g>
                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                    </g>
                    <g filter="url(#__lottie_element_12)"
                        transform="matrix(0.8299246430397034,0.5578754544258118,-0.5578754544258118,0.8299246430397034,222.009765625,-710.9219970703125)"
                        opacity="1" style="display: block;">
                        <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                            <path fill="rgb(255,233,233)" fill-opacity="1"
                                d=" M831,415.5 C831,644.9739990234375 644.9739990234375,831 415.5,831 C186.0260009765625,831 0,644.9739990234375 0,415.5 C0,186.0260009765625 186.0260009765625,0 415.5,0 C644.9739990234375,0 831,186.0260009765625 831,415.5z">
                            </path>
                        </g>
                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                    </g>
                    <g filter="url(#__lottie_element_9)"
                        transform="matrix(0.9591588973999023,0.28286778926849365,-0.28286778926849365,0.9591588973999023,437.5172119140625,-314.5850830078125)"
                        opacity="1" style="display: block;">
                        <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                            <path fill="rgb(251,168,127)" fill-opacity="1"
                                d=" M987,184.5 C987,286.3970031738281 766.052001953125,369 493.5,369 C220.94700622558594,369 0,286.3970031738281 0,184.5 C0,82.60299682617188 220.94700622558594,0 493.5,0 C766.052001953125,0 987,82.60299682617188 987,184.5z">
                            </path>
                        </g>
                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                    </g>
                    <g filter="url(#__lottie_element_6)"
                        transform="matrix(0.8363738656044006,0.5481594204902649,-0.5481594204902649,0.8363738656044006,1023.84423828125,-1021.279541015625)"
                        opacity="0.9815203323422373" style="display: block;">
                        <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                            <path fill="rgb(254,115,182)" fill-opacity="1"
                                d=" M7.414000034332275,573.0250244140625 C103.91400146484375,508.5249938964844 693.9140014648438,350.86700439453125 794.9140014648438,55.867000579833984 C895.9140014648438,-239.13299560546875 1338.7320556640625,722.4769897460938 1059.9139404296875,883.5250244140625 C783.4030151367188,1043.240966796875 -89.08599853515625,637.5250244140625 7.414000034332275,573.0250244140625z">
                            </path>
                        </g>
                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                    </g>
                </g>
            </svg></div>
    </div>
    <section class="lqd-section d-flex flex-wrap flex-grow-1 flex-shrink-1 mx-auto py-20 lg:py-0">
        <div class="w-100 d-flex align-items-center pt-20 sm:w-100 sm:order-first sm:pt-0">
            <div class="lqd-imggrp-single block position-relative w-100">
                <div class="lqd-imggrp-img-container position-relative align-items-center justify-center mx-auto">
                    <figure class="w-100 position-relative text-center">
                        <img loading="lazy" width="180" src="assets/logo.jpg" alt="ViralStan logo">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row w-100 container">
            <a href="#features"
                class="col-md-2 text-black-80 hover:text-black-100 transition-all duration-300 ease-in-out">Services</a>

            <a href="#case-studies"
                class="col-md-2 text-black-80 hover:text-black-100 transition-all duration-300 ease-in-out">Clients</a>

            <a href="#why"
                class="col-md-2 text-black-80 hover:text-black-100 transition-all duration-300 ease-in-out">Why
                ViralStan?</a>

            <a href="#testimonial"
                class="col-md-2 text-black-80 hover:text-black-100 transition-all duration-300 ease-in-out">Reviews</a>
            <a href="#faq"
                class="col-md-2 text-black-80 hover:text-black-100 transition-all duration-300 ease-in-out">FAQs</a>
        </div>

        <div class="w-100 d-flex align-items-center divider py-5">
            <span class="w-100 border-top border-black-20 pb-10"></span>
        </div>
        <div class="w-50 d-flex align-items-center pt-20 pb-35 module-text sm:w-100 justify-center">
            <div class="ld-fancy-heading position-relative">
                <p class="ld-fh-element inline-block position-relative mb-0/5em text-12 leading-20 text-black-60">
                    © 2025 ViralStan | <a href="">Privacy
                        Policy</a>
                </p>
            </div>
        </div>
        <div class="w-50 d-flex align-items-center justify-content-end pt-20 pb-35 sm:w-100 sm:justify-center">
            <div class="social-icons-wrapper gap-30">
                <span class="grid-item">
                    <a class="icon social-icon social-icon-medium" href="https://www.facebook.com/share/1H2FcpQWbv/
" target="_blank">
                        <i class="fi fi-brands-facebook"></i>
                    </a>
                </span>
                <span class="grid-item">
                    <a href="https://www.instagram.com/viralstan_official/" target="_blank"
                        class=" icon social-icon social-icon-medium">
                        <i class="fi fi-brands-instagram"></i></a>
                </span>
                <span class="grid-item">
                    <a href="https://www.youtube.com/@viralstanYT" target="_blank"
                        class="icon social-icon social-icon-medium">
                        <i class="fi fi-brands-youtube"></i></a>
                </span>
                <span class="grid-item">
                    <a href="https://x.com/viral_stan_" target="_blank" class=" icon social-icon social-icon-medium">
                        <i class="fi fi-brands-twitter"></i></a>
                </span>
            </div>
        </div>
    </section>
</footer>