
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
@import "@flaticon/flaticon-uicons/css/all/all.css";
$primary: #c20df4;
$secondary: #1d648b;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": #198754,
    "info": #0dcaf0,
    "warning": #ffc107,
    "danger": #dc3545,
    "light": #f8f9fa,
    "dark": #212529
);

@import "bootstrap/scss/bootstrap";

body {
    -webkit-font-smoothing: antialiased;
}

button {
    background: linear-gradient(90deg, #c20df4 -2.17%, #f46ee2 100%) !important;
    border: 0 !important;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: linear-gradient(90deg, #c20df4 -2.17%, #f46ee2 100%) !important;
    border: 0;
    transform: scale(1.1);
}

.btn-outline-primary {
    color: $primary !important;
    background: none !important;
    padding: 10px 20px !important;
    border: 1px solid #c20df4 !important;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease !important;

    &:hover {
        color: #fff !important;
        background: linear-gradient(90deg, #c20df4 -2.17%, #f46ee2 100%) !important;
        border: 0 !important;
        transform: scale(1.0);
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
